<br>
<div class="container">

    <br>
    <br>
    <br>
    <div class="container">
        <div class="card bg-dark text-white">
            <img src="/photaboutt.png" class="card-img" id="neuron" alt="...">
            <div class="card-img-overlay">
                <div class="media">
                    <img src="/alvaro.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 txt">About me</h5>
                        <p class="txt-black">Front-End Web Developer leveraging a background in Molecular Biology and
                            PhD in Neuroscience.Recently earned a certificate in web Development from the University of Adelaide Bootcamp, where I developed my skills in JavaScript, CSS, React.js, and responsive web design. While here, I developed client-focused web pages and applications with other team members. I am a motivated person who always learns and puts my energy
                            into approaching programming challenges from different angles and collaborating with others to
                            create meaningful web applications. </p>
                    </div>
                </div>

            </div>
        </div>




    </div>
</div>