
/* Homepage */

#navo{

  background-color: white;
    padding-top: 2%;

}

.nave{
  padding-top: 5%;
  color:black;

}

#neuron {
  width: 100%;
  height: auto;
  
}


#footer{
  background-color: white;
  height: 150px;
  width: 50%;
}


#back {
  background-color:black;
  font-family: 'MuseoModerno', cursive;
}

.firm ,.txt {
  color: white;
}



/* Porfolio */

#txt-carousel{
  color: black;
}




.iconss{
  padding-top: 2px;
  display: flex;
  justify-content: space-evenly;
}

.icons{
  padding-top: 50px;

}